Flask==3.0.3
gunicorn==20.1.0
numpy==1.24.0
opencv-python-headless==4.8.1.78
tensorflow==2.13.0
Pillow==9.5.0
firebase-admin==6.5.0
requests==2.31.0
h5py==3.9.0
--upgrade pip setuptools wheel
